.section-cards {
	background-color: #f2f2f2;
	padding-top: 70px;
	padding-bottom: 20px;
	margin-bottom: 70px;

	@media (min-width: $md) {
		padding-top: 140px;
		padding-bottom: 90px;
		margin-bottom: 140px;
	}

	&--light {
		background-color: #fcfcfc;
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: 38px;

		@media (min-width: $md) {
			margin-bottom: 102px;
		}
	}

	&__header {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 40px;

		@media (min-width: $md) {
			margin-bottom: 60px;
		}

		&-title {
			text-align: center;
			font-size: 26px;
			line-height: 32px;

			@media (min-width: $md) {
				font-size: 40px;
				line-height: 50px;
			}
		}

		&-text {
			text-align: center;
			max-width: 657px;

			font-size: 16px;
			line-height: 22px;

			@media (min-width: $md) {
				font-size: 22px;
				line-height: 29px;
			}
		}
	}

	&__item {
		margin-bottom: 50px;

		&--v2 {
			margin-bottom: 20px;
		}
	}

	&__card {
		padding: 25px;
		border-radius: 10px;
		position: relative;
		overflow: hidden;
		min-height: 214px;
		margin-bottom: 12px;

		@media (min-width: $md) {
			min-height: 303px;
			margin-bottom: 18px;
		}

		img {
			position: absolute;
			bottom: 0;
			right: 0;
			height: 40%;
			width: auto;
			z-index: 1;

			@media (min-width: $xl) {
				font-size: 52px;
				line-height: 60px;
				height: auto;
			}
		}

		&--1 {
			background: $secondary;
		}

		&--2 {
			background-color: #be9acd;
			color: $white;
		}

		&--3 {
			background-color: $background;
		}

		&--4 {
			background-color: $thirdy;
			color: $white;
		}

		&--v2 {
			background-color: $primary;
			color: $white;

			@media (min-width: $md) {
				min-height: 350px;
			}
		}
	}

	&__number {
		font-weight: 700;
		font-size: 38px;
		line-height: 44px;
		margin-bottom: 12px;

		@media (min-width: $md) {
			font-size: 52px;
			line-height: 60px;
			margin-bottom: 22px;
		}
	}

	&__text {
		font-size: 16px;
		line-height: 22px;
		margin-bottom: 50px;
		position: relative;
		z-index: 2;

		@media (min-width: $md) {
			font-size: 19px;
			line-height: 29px;
		}
	}

	&__subtext {
		color: $black;
		font-size: 16px;
		line-height: 22px;

		@media (min-width: $md) {
			font-size: 19px;
			line-height: 29px;
		}
	}
}
