.section-icon-list {
	margin-bottom: 70px;
	background-color: $secondary;
	padding-top: 70px;
	padding-bottom: 14px;

	@media (min-width: $md) {
		padding-top: 140px;
		padding-bottom: 140px;
		margin-bottom: 140px;
	}

	&__title {
		color: $black;
		margin-bottom: 48px;

		@media (min-width: $lg) {
			margin-bottom: 90px;
		}
	}

	&__list {
		margin-bottom: 0;
		padding-right: 40px;

		@media (min-width: $md) {
			padding-right: 0;
		}
	}

	&__item {
		margin-bottom: 62px;

		@media (min-width: $md) {
			margin-bottom: 0;
			padding-right: 30px;
		}

		&-wrapper {
			@media (min-width: $md) {
				max-width: 307px;
			}
		}

		&-icon {
			width: 55px;
			height: 55px;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			background-color: $thirdy;
			padding: 10px;
			margin-bottom: 26px;
			border-radius: 50%;

			@media (min-width: $lg) {
				width: 70px;
				height: 70px;
				padding: 11px;
				margin-bottom: 30px;
			}

			img {
				@include img-contain();
			}
		}

		&-title {
			color: $black;
		}

		&-text {
			color: $black;
			margin-bottom: 0;
		}
	}
}
