.section-image-text {
	margin-bottom: 70px;

	@media (min-width: $md) {
		margin-bottom: 140px;
	}

	&__image {
		display: flex;
		margin-bottom: 40px;

		@media (min-width: $md) {
			margin-bottom: 0;
		}

		&-wrapper {
			width: 150px;
			height: 150px;
			border-radius: 50%;
			margin-right: 20px;
			overflow: hidden;
			display: flex;
			justify-content: center;
			align-items: flex-end;

			@media (min-width: $xl) {
				width: 197px;
				height: 197px;
			}

			&:last-child {
				margin-right: 0;
			}

			img {
				width: 90%;
				height: 90%;
				object-fit: contain;
				object-position: center bottom;
			}

			&--1 {
				background-color: $secondary;
			}

			&--2 {
				background-color: $primary;
			}
		}
	}

	&__text {
		font-weight: 700;
		font-size: 32px;
		line-height: 40px;

		@media (min-width: $xl) {
			font-size: 40px;
			line-height: 50px;
		}
	}
}
