// Colors
$white: #fff;
$black: #263961;
$primary: #8d58a4;
$secondary: #f5deea;
$thirdy: #2467bc;
$accent: #ed6daf;
$accent_hover: #fb9acc;
$background: #b9e6ec;
$background_light: #f2f2f2;
$border: #bfbcd1;

// Containers
$xs: 375px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1201px;
