.page-404 {
	padding-top: 0;
	position: relative;
	background-color: #f2f2f2;

	&::before {
		content: "";
		display: none;
		position: absolute;
		left: 0;
		top: 0;
		width: 602px;
		height: 100%;
		background-image: url(@img/section-404-1.svg);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: left top;
		z-index: -1;

		@media (min-width: $lg) {
			width: 40%;
			display: block;
		}
	}

	&::after {
		content: "";
		display: block;
		position: absolute;
		right: 0;
		bottom: 0;
		width: 220px;
		height: 300px;
		background-image: url(@img/section-404-2.svg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		z-index: -1;

		@media (min-width: $lg) {
			width: 295px;
			height: 342px;
		}
	}

	&__content {
		height: calc(100vh - 167px);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
	}

	&__404 {
		font-size: 160px;
		line-height: 170px;
		font-weight: 700;
		letter-spacing: 0.02em;
		text-transform: uppercase;
		color: $black;
		margin-bottom: 17px;

		@media (min-width: $xl) {
			font-size: 200px;
			line-height: 200px;
		}
	}

	&__title {
		font-size: 32px;
		line-height: 36px;
		font-weight: 700;
		margin-bottom: 22px;
		text-align: center;
		color: $black;

		@media (min-width: $xl) {
			font-size: 40px;
			line-height: 50px;
		}
	}

	&__text {
		max-width: 411px;
		margin-bottom: 40px;
		color: $black;
		font-size: 16px;
		line-height: 22px;

		@media (min-width: $md) {
			font-size: 22px;
			line-height: 29px;
		}
	}

	&__button {
		margin-bottom: 80px;

		@media (min-width: $md) {
			margin-bottom: 30px;
		}
	}
}
